<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <center>
        <table border="2px">
            <tr>
                <th>TopicName</th>
                <th>Name</th>
                <th>URL</th>
                <th>Email</th>
            </tr>
            {%  for wo in WTO  %}
                <tr>
                    <td>{{ wo.topic_name }}</td>
                    <td>{{ wo.name }}</td>
                    <td>{{ wo.url }}</td>
                    <td>{{ wo.email }}</td>
                </tr>
            {%  endfor  %}
        </table>
    </center>
</body>
</html>